<form class="ui form">
    <div class="fields">
        <div class="two wide field haspopup" data-content="Currently EU only.">
            <label>Region</label>
            <select class="ui dropdown"  disabled>
                <option value="">EU</option>
            </select>
        </div>
        <div class="seven wide field">
            <label>Realm</label>
            <input type="text" name="realm" placeholder="Mal'Ganis">
        </div>
        <div class="seven wide field">
            <label>Guild</label>
            <input type="text" name="guild" placeholder="Aeonic">
        </div>
    </div>
    <button class="fluid ui button" onClick="">Let's go!</button>
</form>