<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <title>{{#if title}}{{title}} | {{/if}}Guild GearScore</title>
    <link rel="stylesheet" type="text/css" href="/styles/semantic.min.css">
    <style>.hidden { display: none !important; }</style>
    <script src="/scripts/vendor/jquery.min.js"></script>
</head>
<body>
    <div class="ui container ">
        {{> navigation }}

        {{{body}}}
    </div>
    
    <script src="/scripts/vendor/semantic.min.js"></script>
    <script src="/scripts/scripts.js"></script>
</body>
</html>