<div class="ui center aligned container" style="margin-top:3em;">
	<div class="ui centered grid">
			<div class="four wide column">
				<h1 class="ui centered header" style="font-size: 4em;">
					{{guild}}
					<div class="sub header">{{realm}}</div>
				</h1>
			</div>
			<div class="four wide column">	
				<h1 class="ui centered header" style="font-size: 4em;">
					<div class="ui active inline loader" id="avgitemlevelloader"></div>
					<span id="avgitemlevel"></span>
					<div class="sub header">Average Item Level</div>
				</h1>
			</div>
	</div>
</div>
<div class="ui centered grid container" style="margin-top: 3em;">
	<div class="ten wide column">
		<div class="ui segment">
			<div class="ui vertical segment" id="members">

			</div>
		</div>
	</div>
</div>
<script src="/scripts/guild-overview.js"></script>
<script>getGuildData("{{{realm}}}", "{{{guild}}}");</script>
