<div class="ui center aligned container">
	<h1 class="ui header" style="margin-top:3em;">Guild GearScore</h1>
	<p>Find out how well your guild is equipped.</p>
	<div class="ui two column centered grid">
		<div class="column">
			{{> guildsearch}}
		</div>
	</div>
</div>
